<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804606975599-d01srhehs9srnhr5ursqk3m3r9e23iab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804606975599-d01srhehs9srnhr5ursqk3m3r9e23iab</string>
	<key>API_KEY</key>
	<string>AIzaSyDWBfajTS4If0UOUNx1aOzU4dRkO9OZNPM</string>
	<key>GCM_SENDER_ID</key>
	<string>804606975599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-bb813</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-bb813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804606975599:ios:2aec9f44be1f3f1bd4f79a</string>
</dict>
</plist>